.table {
	border-top: 3px solid var(--color-primary);
}

.actionsColumn {
	width: 60px;
	text-align: center;
}

.rowActions {
	opacity: 0;
	display: flex;
	justify-content: center;
}

.row:hover .rowActions,
.rowActionsVisible {
	opacity: 1;
}

.menuItem:focus-visible {
	outline: none;
}

