.metadataGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-6);
}

.label {
	width: 5rem;
	flex-shrink: 0;
}

.link {
	font-size: var(--font-size-2);
	text-decoration: underline;
	opacity: 0.8;
}

.link:hover {
	opacity: 1;
}
