.trigger {
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: var(--color-text-muted);
}

.trigger:hover {
	color: var(--color-text-subtle);
}

.triggerActive {
	color: var(--color-primary);
}

.triggerActive:hover {
	color: var(--color-primary-hover);
}