@import 'tailwindcss';

html {
	background: var(--color-bg-default);
}

tr[class] {
	transition: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@layer overrides {
	*:focus-visible {
		outline: 2px solid transparent;
	}
}
